<div class="container bg-white my-5">
  <h1 class="p-4">Créer une annonce</h1>
    <%= simple_form_for @flat do |f| %>
      <% if @flat.errors.any? %>
        <div class="errors-container">
          <ul>
            <% @flat.errors.full_messages.each do |message| %>
              <li><%= message %></li>
            <% end %>
          </ul>
        </div>
      <% end %>
        <%= f.input :name,
                    as: :string,
                    required: true,
                    label: 'Nom' %>
        <%= f.input :price_per_day,
                    as: :integer,
                    required: true,
                    label: 'Prix par nuit en euro' %>
        <%= f.input :price_xof,
                    as: :integer,
                    required: true,
                    label: 'Prix par nuit en XOF' %>
        <%= f.input :description,
                    as: :text,
                    required: true,
                    label: 'Description' %>
        <%= f.input :longitude,
                    as: :hidden %>
        <%= f.input :latitude,
                    as: :hidden %>
        <div class="row">
          <div class="col">
        <%= f.input :min_capacity,
                    as: :integer,
                    required: true,
                    label: "Nombre de personnes minimum"%>
           </div>
           <div class="col">
        <%= f.input :max_capacity,
                    as: :integer,
                    required: true,
                    label: "Nombre de personnes maximum"%>
          </div>
        </div>
        <%= f.input :picture,
                    as: :file,
                    required: true,
                    label: 'Photo principale' %>
        <%= f.input :photos,
                    as: :file,
                    input_html: { multiple: true },
                    label: 'Photos secondaires' %>
        <%= f.collection_radio_buttons :belonging,
                    [[true, 'Immeuble Comara'],
                    [false, 'Partenaire']],
                    :first, :last,
                    label: "Appartenance" %>

          <div class="row">
          <%= f.simple_fields_for :equipment do |c| %>
            <div class="col-md-6">
              <div class="row">
                <div class="equipment-new w-100 m-3">
                  <div class="col-md-4">
                    <p class="equipment-name w-100"><%= t(c.object.name) %></p>
                  </div>
                  <%= c.input :name, as: :hidden %>
                  <%= c.input :icon, as: :hidden %>
                  <div class="col-md-3">
                    <%= c.input :available, as: :boolean, label: 'Disponible' %>
                  </div>
                  <div class="col-md-5">
                    <%= c.input :pricing, as: :boolean, label: 'Disponible (payant)' %>
                  </div>
                </div>
              </div>
            </div>
          <% end %>
          </div>
          <div class="d-flex justify-content-center">
            <%= f.submit "Créer", class: 'back-to-home-link my-5' %>
          </div>
        </div>
    <% end %>
</div>

