<div id="show-flat">
  <div class="container px-0 w-100">
    <div class="row text-right">
    <div class="index-show-search-bar">
      <%= form_tag flats_path, method: :get do %>
        <div class="d-flex">
          <div class="d-flex align-items-center">
            <%= text_field_tag :start_date_response,
                  params[:start_date_response],
                  input_html: {class: "datepicker"},
                  class: "datepicker-query bg-white",
                  placeholder: "Date de départ" %>

            <%= text_field_tag :end_date_response,
                  params[:end_date_response],
                  input_html: {class: "end_date"},
                  class: "end-date-query bg-white",
                  placeholder: "Date de fin" %>
          </div>
        <%= select_tag :capacity_response,
              options_for_select([ "1", "2", "3", "4" ], params[:capacity_response]),
              class: "form-home-booking" %>

        <%= submit_tag 'Modifiez',
        class: "submit-index-show"%>
        </div>
      <% end %>
    </div>
    </div>
    <div class="display-photos w-100">
      <div class="display-photos-container d-none">
        <%= render 'photos' %>
      </div>
    </div>
    <div class="contenu-show mt-5 pt-3">
      <h1 class="title-index-flat mt-5"><%= @flat.name %></h1>
      <div class="photo-show-flat" id="photo-show-flat">
        <div class="row">
          <div class="col-md-6 d-flex justify-content-center py-4">
            <%= cl_image_tag @flat.picture.key, crop: :fit, class: "photo-flat-index-principale" %>
          </div>
          <div class="col-md-6">
            <div class="row pt-3 pb-2">
              <% @flat.photos.each do |photo| %>
                <div class="col p-2">
                  <%= cl_image_tag photo.key, crop: :fill_pad, class: "photo-flat-index-secondaire" %>
                </div>
              <% end %>
            </div>
          </div>
        </div>
      </div>

      <div class="description-booking mb-5">
        <div class="row">
          <div class="col-md-8 mt-4">
            <div class="description-show-flat">
              <div class="description-flat-show">
                <h3 class="titles-description-flat pt-4 pb-2 mx-3">Description de l'appartement</h3>
                <div class="text-description-flat mx-3">
                  <p><%= @flat.description %></p>
                </div>
              </div>
              <div class="equipement-flat-show">
                <h3 class="titles-description-flat pb-2 mx-3">Équipements de l'appartement</h3>
                  <div class="list-equipements px-3">
                    <div class="row">
                      <div class="col">
                        <div class="row">
                          <% @flat.equipment.each do |equipment| %>
                            <% if equipment.available == true %>
                              <div class="col-md-6 d-flex">
                                <i class="<%= equipment.icon %>"></i>
                                <p class="ml-2"><%= t(equipment.name) %></p>
                              </div>
                             <% elsif equipment.pricing == true %>
                              <div class="col-md-6 d-flex">
                                <i class="<%= equipment.icon %>"></i>
                                <p class="ml-2"><%= t(equipment.name) %> (payant)</p>
                              </div>
                            <% end %>
                          <% end %>
                        </div>
                      </div>
                    </div>
                  </div>
              </div>
              <div class="accessibility-hours">
                <h3 class="titles-description-flat pb-2 mx-3">Accessibilité et horaire</h3>
                <div class="text-hours-accessibility d-flex mx-3">
                  <i class="fal fa-clock px-2"></i>
                  <p>Heure d'arrivée : à partir de 15:00</p>
                  <i class="fas fa-clock px-2"></i>
                  <p>Heure de départ : 11:00</p>
                </div>
                <a class="subscribe-button" href="https://www.google.fr/maps/place/6CQR822J%2BVR/@5.301085,-3.9713232,15z/data=!4m5!3m4!1s0x0:0x0!8m2!3d5.3021875!4d-3.9679375">Nous trouver</a>
              </div>

            </div>
          </div>
          <div class="col-md-4 mt-4">
            <div class="booking-show-flat">
              <div class="d-flex d-print-inline justify-content-center pt-4">
                <p id="price-per-day" data-price="<%= @flat.price_per_day %>"><%= @flat.price_per_day %> €/<span id="price-day-word">nuit</span></p>
                <p id="price-per-day-xof" data-price="<%= @flat.price_xof %>"></p>
              </div>
               <%= render 'bookings/form', flat: @flat, booking: @booking %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
