<div class="container">
  <div class="row text-right">
    <div class="index-show-search-bar">
      <div class="d-flex">
        <%= form_tag flats_path, method: :get do %>
          <%= text_field_tag :start_date_response,
                params[:start_date_response],
                class: "form-home-booking",
                placeholder: "Date de départ" %>
          <%= text_field_tag :end_date_response,
                params[:end_date_response],
                class: "form-home-booking",
                placeholder: "Date de fin" %>
          <%= text_field_tag :capacity_response,
                params[:capacity_response],
                class: "form-home-booking",
                placeholder: "Nombre de voyageurs" %>
          <%= submit_tag 'Modifiez',
          class: "submit-index-show"%>
        <% end %>
      </div>
    </div>
  </div>
  <div class="contenu-show mt-5 pt-3">
  <h1 class="title-index-flat mt-5"><%= @flat.name %></h1>
  <div class="photo-show-flat">
    <div class="row">
    <div class="col-md-6 d-flex justify-content-center py-3">
      <%= image_tag("191546988.jpg", crop: :fill, class: "photo-flat-index-principale") %>
    </div>
    <div class="col-md-6">
      <div class="row pt-3 pb-2">
        <div class="col px-0">
          <%= image_tag("191546988.jpg", crop: :fill, class: "photo-flat-index-secondaire") %>
        </div>
        <div class="col px-0">
          <%= image_tag("191546988.jpg", crop: :fill, class: "photo-flat-index-secondaire") %>
        </div>
        <div class="col px-0">
          <%= image_tag("191546988.jpg", crop: :fill, class: "photo-flat-index-secondaire") %>
        </div>
      </div>
      <div class="row py-2">
        <div class="col px-0">
          <%= image_tag("191546988.jpg", crop: :fill, class: "photo-flat-index-secondaire") %>
        </div>
        <div class="col px-0">
          <%= image_tag("191546988.jpg", crop: :fill, class: "photo-flat-index-secondaire") %>
        </div>
        <div class="col px-0">
          <%= image_tag("191546988.jpg", crop: :fill, class: "photo-flat-index-secondaire") %>
        </div>
      </div>
      <div class="row py-2">
        <div class="col px-0">
          <%= image_tag("191546988.jpg", crop: :fill, class: "photo-flat-index-secondaire") %>
        </div>
        <div class="col px-0">
          <%= image_tag("191546988.jpg", crop: :fill, class: "photo-flat-index-secondaire") %>
        </div>
        <div class="col px-0">
          <%= image_tag("191546988.jpg", crop: :fill, class: "photo-flat-index-secondaire") %>
        </div>
      </div>
    </div>
    </div>
  </div>
  <div class="description-booking">
    <div class="row">
      <div class="col-md-8">
        <div class="description-show-flat">
          <div class="description-flat-show">
            <h3 class="titles-description-flat pt-4 pb-2 mx-3">Description de l'appartement</h3>
            <div class="text-description-flat mx-3">
              <p><%= @flat.description %></p>
            </div>
          </div>
          <div class="equipement-flat-show">
            <h3 class="titles-description-flat pb-2 mx-3">Équipements de l'appartement</h3>
              <div class="list-equipements px-3">

              </div>
          </div>
          <div class="accessibility-hours">
            <h3 class="titles-description-flat pb-2 mx-3">Accessibilité et horaire</h3>
            <div class="text-hours-accessibility mx-3">
              <p>Heure d'arrivée</p>
              <p>Heure de départ</p>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="booking-show-flat">
          <p><%= @flat.price_per_day %>€/nuit</p>
        </div>
      </div>
    </div>
  </div>
  </div>
</div>
