<div class="container-show-flat">
  <h1 class="title-index-flat mt-5 ml-5 pl-4"><%= @flat.name %></h1>
  <div class="photo-show-flat py-3 mt-2 mx-5">
    <div class="row">
    <div class="col-md-6 d-flex justify-content-center py-3">
      <%= image_tag("191546988.jpg", crop: :fill, class: "photo-flat-index-principale") %>
    </div>
    <div class="col-md-6">
      <div class="row pt-3 pb-2">
        <div class="col px-0">
          <%= image_tag("191546988.jpg", crop: :fill, class: "photo-flat-index-secondaire") %>
        </div>
        <div class="col px-0">
          <%= image_tag("191546988.jpg", crop: :fill, class: "photo-flat-index-secondaire") %>
        </div>
        <div class="col px-0">
          <%= image_tag("191546988.jpg", crop: :fill, class: "photo-flat-index-secondaire") %>
        </div>
      </div>
      <div class="row py-2">
        <div class="col px-0">
          <%= image_tag("191546988.jpg", crop: :fill, class: "photo-flat-index-secondaire") %>
        </div>
        <div class="col px-0">
          <%= image_tag("191546988.jpg", crop: :fill, class: "photo-flat-index-secondaire") %>
        </div>
        <div class="col px-0">
          <%= image_tag("191546988.jpg", crop: :fill, class: "photo-flat-index-secondaire") %>
        </div>
      </div>
      <div class="row py-2">
        <div class="col px-0">
          <%= image_tag("191546988.jpg", crop: :fill, class: "photo-flat-index-secondaire") %>
        </div>
        <div class="col px-0">
          <%= image_tag("191546988.jpg", crop: :fill, class: "photo-flat-index-secondaire") %>
        </div>
        <div class="col px-0">
          <%= image_tag("191546988.jpg", crop: :fill, class: "photo-flat-index-secondaire") %>
        </div>
      </div>
    </div>
    </div>
  </div>
  <div class="description-booking mx-5 px-4">
    <div class="row">
      <div class="col-md-8">
        <div class="description-show-flat">
          <div class="description-flat-show">
            <h3 class="titles-description-flat mx-5 pt-4 pb-2">Description de l'appartement</h3>
            <div class="text-description-flat">
              <p class="px-5"><%= @flat.description %></p>
            </div>
          </div>
          <div class="equipement-flat-show">
            <h3 class="titles-description-flat mx-5 pb-2">Équipements de l'appartement</h3>
              <div class="list-equipements px-5">

              </div>
          </div>
          <div class="accessibility-hours">
            <h3 class="titles-description-flat mx-5 pb-2">Accessibilité et horaire</h3>
            <div class="text-hours-accessibility px-5">
              <p>Heure d'arrivée</p>
              <p>Heure de départ</p>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="booking-show-flat">
          <p><%= @flat.price_per_day %>€/nuit</p>
        </div>
      </div>
    </div>
  </div>
</div>
