<div class="container bg-white p-5 my-5">
  <h1>Modifier la réservation</h1>
   <%= simple_form_for @booking, method: :patch do |f| %>
      <% if @booking.errors.any? %>
        <div class="errors-container">
          <ul>
            <% @booking.errors.full_messages.each do |message| %>
              <li><%= message %></li>
            <% end %>
          </ul>
        </div>
      <% end %>
      <%= f.association :flat,
            required: false,
            input_html: {class: "select2"},
            label: 'Appartement',
            collection: @display_flat_names %>
      <div class="row">
        <div class="col">
          <%= f.input :total_price_xof,
                      as: :integer,
                      required: true,
                      label: 'Prix total XOF' %>
        </div>
        <div class="col">
          <%= f.input :total_price,
                as: :integer,
                required: true,
                label: 'Prix Total en Euro' %>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <%= f.input :start_date,
            as: :string,
            required: true,
            input_html: {id: "range_start"},
            label: 'Dates d\'arrivée' %>
        </div>
        <div class="col">
          <%= f.input :end_date,
            as: :string,
            required: true,
            input_html: {id: "range_end"},
            label: 'Date de départ' %>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <%= f.input :travellers,
              as: :select,
              collection: Booking::TRAVELLERS,
              input_html: {class: "select2"},
              label: 'Nombre de Voyageurs' %>
        </div>
        <div class="col">
          <%= f.input :status,
              as: :select,
              collection: Booking::STATUS,
              input_html: {class: "select2"},
              required: true,
              label: 'Statut de la réservation' %>
        </div>
        <div class="col">
          <%= f.input :origin,
                as: :string,
                required: true,
                label: "Origine de réservation" %>
        </div>
      </div>
      <%= f.input :airport_car, as: :boolean, label: "Navette allée." %>
      <%= f.input :airport_car_back, as: :boolean, label: "Navette retour." %>
      <%= f.input :rental_car, as: :boolean, label: "Demande de devis location voiture." %>
      <div class="pt-5">
        <div class="d-flex">
          <h3 class="mr-3">Coordonées du client</h3>
          <%= render "bookings/emails/nouvelle_reservation" %>
        </div>
        <%= f.simple_fields_for :client do |c| %>
          <div class="row">
            <div class="col">
              <%= c.input :civility, as: :select, collection: Client::CIVILITY, required: true, label: "Civilité" %>
            </div>
            <div class="col">
              <%= c.input :first_name, as: :string, required: true, label: "Prénom" %>
            </div>
            <div class="col">
              <%= c.input :last_name, as: :string, required: true, label: "Nom de Famille" %>
            </div>
          </div>
          <%= c.input :address, as: :string, required: true, label: "Adresse postale" %>
          <div class="row">
            <div class="col">
              <%= c.input :phone_number, as: :string, required: true, label: "Numéro de téléphone"  %>
            </div>
            <div class="col">
              <%= c.input :email, as: :string, required: true, label: "Adresse e-mail" %>
            </div>
          </div>
        <% end %>
      </div>

      <div class="d-flex justify-content-center">
        <%= f.submit "Modifier", class: 'back-to-home-link my-5' %>
      </div>
    </div>
  <% end %>
</div>
