
  <div class="cover">
    <div class="cover-text">
      <div class="d-flex justify-content-center">
        <h1 class= "text-center" id="Title-home">IMMEUBLE COMARA</h1>
      </div>
      <div class="d-flex justify-content-center">
        <h2 class="text-center" id="catch-phrase-home">Louez votre appartement à Abidjan</h2>
      </div>
    </div>
  </div>
<div class="row">
  <div class="home-search-bar">
    <div class="d-flex">
      <%= form_tag flats_path, method: :get do %>
        <%= text_field_tag :start_date_response,
              params[:start_date_response],
              class: "form-home-booking",
              placeholder: "Date de départ" %>
        <%= text_field_tag :end_date_response,
              params[:end_date_response],
              class: "form-home-booking",
              placeholder: "Date de fin" %>
        <%= text_field_tag :capacity_response,
              params[:capacity_response],
              class: "form-home-booking",
              placeholder: "Nombre de voyageurs" %>
        <%= submit_tag 'Recherchez',
        class: "submit-home-booking"%>
      <% end %>
    </div>
  </div>
</div>
 <div class="container-fluid">
  <div class="presentation-home m-5">
    <div class=" row">
      <div class="col-md-5 d-flex justify-content-center">
        <%= image_tag "photo_home.jpg", class: "photo-home" %>
      </div>
      <div class="col-md-7">
        <h1 class="title-presentation-immeuble py-3">Immeuble Comara</h1>
        <p class="pt-4">Bonjour, Je suis Comara Ibrahim Architecte Franco-Ivoirien à la retraite.
        Je propose un service simple et fonctionnel de location de vacances, du
        studio au 3 pièces. Tous les appartements sont sécurisés et climatisés. Après
        avoir confirmé la demande de réservation, nous vous guidons pas à pas jusqu'à
         votre arrivée sur les lieux. L'immeuble est bien entretenu, nous sommes
        situés dans un quartier dynamique d'artisans, commerçants, petits snacks et
        bars. Géographiquement bien situé, nous sommes à 30 min maximum de tous les
        points vitaux d'Abidjan en voiture</p>
      </div>
    </div>
  </div>
  <div class="reviews w-100">
    <div class="row w-100">
      <div class="col d-flex justify-content-center">
        <div class="review m-3 p-4">
          <p>
          Je n’irai pas chercher plus loin pour mon prochain voyage en Côte d'Ivoire.
          </p>
      </div>
      </div>
      <div class="col d-flex justify-content-center">
        <div class="review m-3 p-4">
          <p>
          L'appartement était équipé (Wifi, cuisine, ...), propre et bien localisé.
          Seulement 15min de l'aéroport et du centre des affaires.
          L'accueil était conviviale, j'y ai passé un excellent séjour !
          </p>
        </div>
      </div>
      <div class="col d-flex justify-content-center">
        <div class="review m-3 p-4">
          <p>Bon accueil, logement propre et bien situé, et bien desservi.</p>
        </div>
      </div>
    </div>
  </div>

  <div class="flat-index-home m-5">
    <h1 class="mb-2 ml-4">Nos appartements</h1>
    <div class="cards-flat-home mx-4">
      <div class="row">
        <% @flats.each do |flat| %>
          <%= link_to flat_path(flat), class: "link-show-flat" do %>
            <div class="row">
              <div class="col">
                <div class="card-home-flat bg-white mt-5 mx-3 px-0">
                  <div class="photo-flat" style="background-image: url('<%= cl_image_path flat.picture.key, height: 205, width: 255, crop: :fill %>')">
                      <p class="w-100 text-right flat-capacity"><%= flat.capacity %></p>
                      <i class="fas fa-user i-user-flat-home"></i>
                  </div>
                  <h3 class="flat-name-home text-center py-3"><%= flat.name %></h3>
                </div>
              </div>
            </div>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
</div>
