<div class="container-fluid">
  <div class="booking-waiting">
    <h1>Demandes en attente</h1>
    <% @bookings.each do |booking| %>
      <% if booking.status == 'pending' %>
        <div class="row">
          <div class="col">
            <div class="card-user-booking-wait bg-white p-2 my-2">
              <div class="row">
                <div class="col">
                  <p class="flat-name-booking"><%= booking.flat.name %> </p>
                  <p><%= l(booking.start_date, format: '%d %B') %> - <%= l(booking.end_date, format: '%d %B %Y') %></p>
                  <p><%= booking.total_price %>€</p>
                </div>
                <div class="col d-flex justify-content-center align-items-center">
                  <div class="mx-2">
                    <%= link_to accepted_user_booking_path(booking), method: :patch do %>
                      <i class="fas fa-check-circle" id="check-circle"></i>
                    <% end %>
                  </div>
                  <div class="mx-2">
                    <%= link_to refused_user_booking_path(booking), method: :patch do %>
                      <i class="fas fa-times-circle" id="no-circle"></i>
                    <% end %>
                  </div>
                  <div class="mx-2">
                    <i class="fas fa-user-circle" id="user-circle" data="<%= booking.id %>"></i>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="card-booking-client bg-white my-2 p-2 d-none" data="<%= booking.id %>">
              <p class="flat-name-booking"><%= booking.client.first_name %> <%= booking.client.last_name %></p>
              <p><%= booking.client.phone_number %></p>
              <p><%= booking.client.address %></p>
              <p><%= booking.client.email %></p>
            </div>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>
  <div class="calendar bg-white m-4">
    <div class="calendar-view pt-3">
      <div class="row my-3">
        <h1 class="ml-4">Calendrier</h1>
        <%= link_to new_user_booking_path, class: "link-to-new-booking" do  %>
          <h1 class="add-booking mx-3">+</h1>
        <% end %>
      </div>
      <%= month_calendar do |date| %>
      <div class="text-right">
        <p class="calday text-center"  data-date="<%= l(date, format: '%Y-%m-%d') %>"><%= l(date, format: '%d', class: "date-calendar") %></p>
      </div>
      <% end %>
    </div>
    <div class="calendar-text">
      <div class="row">
        <div class="col m-4">
          <div class="calendar-content-text d-flex justify-content-center w-100">
            <h3>Arrivée</h3>
          </div>
          <div class="date-booking-action">
            <% @bookings_accepted.each do |booking| %>
              <div class="card-user-booking p-3" data-date="<%= booking.start_date %>" data-booking="<%= booking.client_id %>">
                <p class="flat-name-booking"><%= booking.flat.name %></p>
                <div class="d-flex">
                  <p class="start-date-booking"><%= l(booking.start_date, format: '%d %B %Y') %></p>
                  <p class="mx-2">-</p>
                  <p class="end-date-booking"><%= l(booking.end_date, format: '%d %B %Y') %></p>
                </div>
                <%= link_to 'Modifier', edit_user_booking_path(booking), class: 'link-flat'  %>
              </div>
            <% end %>
          </div>
        </div>
        <div class="col m-4">
          <div class="calendar-content-text d-flex justify-content-center w-100">
            <h3>En cours</h3>
          </div>
          <div class="date-booking-action">
            <% @bookings_accepted.each do |booking| %>
              <div class="card-user-booking p-3" data-date="<%= (booking.start_date+1..booking.end_date-1).to_a.map{|date| l(date, format: '%Y-%m-%d')} %>" data-booking="<%= booking.client_id %>">
                <p class="flat-name-booking"><%= booking.flat.name %></p>
                <div class="d-flex">
                  <p class="start-date-booking"><%= l(booking.start_date, format: '%d %B %Y') %></p>
                  <p class="mx-2">-</p>
                  <p class="end-date-booking"><%= l(booking.end_date, format: '%d %B %Y') %></p>
                </div>
                <%= link_to 'Modifier', edit_user_booking_path(booking), class: 'link-flat'  %>
              </div>
            <% end %>
          </div>
        </div>
        <div class="col m-4">
          <div class="calendar-content-text">
            <div class="title-calendar-text d-flex justify-content-center w-100">
            <h3>Départ</h3>
            </div>
            <div class="date-booking-action">
              <% @bookings_accepted.each do |booking| %>
                <div class="card-user-booking p-3" data-date="<%= booking.end_date %>" data-booking="<%= booking.client_id %>">
                  <p class="flat-name-booking"><%= booking.flat.name %></p>
                  <div class="d-flex">
                    <p class="start-date-booking"><%= l(booking.start_date, format: '%d %B %Y') %></p>
                    <p class="mx-2">-</p>
                    <p class="end-date-booking"><%= l(booking.end_date, format: '%d %B %Y') %></p>
                  </div>
                  <%= link_to 'Modifier', edit_user_booking_path(booking), class: 'link-flat'  %>
                </div>
              <% end %>
            </div>
           </div>
          </div>
        </div>
      </div>
      <div class="client-info-display justify-content-center d-flex align-items-center">
        <div class="card-client-booking text-center">
          <% @clients.each do |client| %>
            <div class="client-info p-2" data-booking="<%= client.id %>">
              <p><i class="fal fa-user px-2"></i><%= client.first_name %> <%= client.last_name %></p>
              <p><i class="fal fa-envelope px-2"></i><%= client.email %></p>
              <p><i class="fal fa-phone px-2"></i><%= client.phone_number %></p>
              <p><i class="fal fa-house px-2"></i><%= client.address %></p>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>


